html {
  scrollbar-gutter: stable;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
b,
big,
blockquote,
body,
button,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
main,
nav,
object,
ol,
p,
pre,
q,
s,
samp,
section,
select,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
  border: 0;
  outline: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}